{% extends 'login/base.html' %}
{% block title %}注册{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-register' action="" method="post">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}

              <h2 class="text-center">欢迎注册</h2>
              <div class="form-group">
                  {{ register.name.label_tag }}
                  {{ register.name}}
              </div>
              <div class="form-group">
                  {{ register.password.label_tag }}
                  {{ register.password }}
              </div>
              <div class="form-group">
                  {{ register.password2.label_tag }}
                  {{ register.password2 }}
              </div>
              <div class="form-group">
                  {{ register.email.label_tag }}
                  {{ register.email }}
              </div>
              <div class="form-group">
                  {{ register.sex.label_tag }}
                  {{ register.sex }}
              </div>
              <div class="form-group">
                  {{ register.captcha.errors }}
                  {{ register.captcha.label_tag }}
                  {{ register.captcha }}
              </div>

              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>

          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}
{% block script %}


{#实现对验证码的点击刷新#}
<script>
    $('.captcha').click(function () {
        console.log("dianji");
        $.getJSON('/captcha/refresh/', function (result) {
            console.log("一部获取中");
            $('.captcha').attr('src',result['image_url']);
            $('#id_captcha_0').val(result['key'])
        })
    })
</script>
{% endblock %}